* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.nav {
    height: 50px;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    font-size: 0px;
}

.nav-item {
    display: inline-block;
    padding: 0px 50px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;;
    transition: color 0.4s;
}

.nav-item a:hover {
    color: #b98e79;
}

.header-img
{
    position: relative;
    height: 300px;
    background-image: url('/img/mountain-landscape-2031539_1920.jpg');
    background-size: cover;
    background-position: 0 50%;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(78, 74, 74, 0.35);;
}

.header-text h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

main {
    margin: 50px auto;
    width: 1200px;
}

main h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.about-us-box {
    position: relative;
    height: 300px;
    margin: 40px 0;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.top {
    background-image: url('/img/rozwoj.jpg');
}
.middle {
    background-image: url('/img/edukacja.jpg');
}
.bottom {
    background-image: url('/img/wiedza.jpg');
}

.about-us-text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #fff;
    padding: 20px 40px;
    overflow: hidden;
}

.about-us-text h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-us-bg {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.services-list {
    margin: 0 auto;
    width: 200px;
}

.prices-table {
    margin: 0 auto;
}

.prices-table td {
    padding: 10px 20px;
}

.contact-info {
    text-align: center;
    font-size: 36px;
}

.contact-info .fa-solid {
    margin-right: 10px;
}

footer {
    height: 80px;
    line-height: 80px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.icon-box {
    margin-left: 10px;
} 

.icon-box a {
    margin: 0 5px;
    color: #fff;
    font-size: 20px;
    transition: color 0.4s;
}

.icon-box a:hover {
    color: #b98e79;
}

